<section class="section section-gallery">
  <div class="container container-gallery">
    <h2 class="gallery-title">
      Галерея зображень
    </h2> 
      <p class="gallery-description">
        EcoTotes у повсякденному житті
      </p> 
        <ul class="gallery-list">
          <li class="gallery-item">
            <img class="gallery-item-view" src="../img/gallery/eco-tote-mobile.jpg" alt="eco-tone" srcset="../img/gallery/eco-tote-mobile@2x.jpg 2x" width="288" height="288">
          </li>
          <li class="gallery-item">
            <img class="gallery-item-view" src="../img/gallery/city-scene-mobile.jpg" alt="city-scene"
              srcset="../img/gallery/city-scene-mobile@2x.jpg 2x" width="288" height="288">
          </li>
          <li class="gallery-item">
            <img class="gallery-item-view" src="../img/gallery/person-walking-mobile.jpg" alt="person-walking"
              srcset="../img/gallery/person-walking-mobile@2x.jpg 2x" width="288" height="288">
          </li>
          <li class="gallery-item">
            <img class="gallery-item-view" src="../img/gallery/young-woman-mobile.jpg" alt="young-woman"
              srcset="../img/gallery/young-woman-mobile@2x.jpg 2x" width="288" height="288">
          </li>
        </ul>   
  </div>
</section>
