<section class="section section-gallery">
  <div class="container container-gallery">
    <h2 class="gallery-title">
      Галерея зображень
    </h2> 
      <p class="gallery-description">
        EcoTotes у повсякденному житті
      </p> 
        <ul class="gallery-list">
          <li class="gallery-item item-1">
            <picture>
              <source media="(min-width 1158px)" srcset="../img/gallery/eco-tote-desktop.jpg 1x, ../img/gallery/eco-tote-desktop@2x.jpg 2x">
              <source media="(min-width 768px)"
                srcset="../img/gallery/eco-tote-desktop.jpg 1x, ../img/gallery/eco-tote-desktop@2x.jpg 2x">
              <source media="(max-width 767px)"
                  srcset="../img/gallery/eco-tote-mobile.jpg 1x, ../img/gallery/eco-tote-mobile@2x.jpg 2x">
          
              <img class="gallery-item-view item-1" src="../img/gallery/eco-tote-mobile.jpg" alt="eco-tone" width="288" height="288">
            </picture>
          </li>
          <li class="gallery-item item-2">
            <picture>
              <source media="(min-width 1158px)"
                srcset="../img/gallery/city-scene-desktop.jpg 1x, ../img/gallery/city-scene-desktop@2x.jpg 2x">
              <source media="(min-width 768px)"
                srcset="../img/gallery/city-scene-desktop.jpg 1x, ../img/gallery/city-scene-desktop@2x.jpg 2x">
              <source media="(max-width 767px)"
                srcset="../img/gallery/city-scene-mobile.jpg 1x, ../img/gallery/city-scene-mobile@2x.jpg 2x">
            
              <img class="gallery-item-view item-2" src="../img/gallery/city-scene-mobile.jpg" alt="city-scene" width="288" height="288">
            </picture>
          </li>
          <li class="gallery-item item-3">
            <picture>
              <source media="(min-width 1158px)"
                srcset="../img/gallery/person-walking-desktop.jpg 1x, ../img/gallery/person-walking-desktop@2x.jpg 2x">
              <source media="(min-width 768px)"
                srcset="../img/gallery/person-walking-desktop.jpg 1x, ../img/gallery/person-walking-desktop@2x.jpg 2x">
              <source media="(max-width 767px)"
                srcset="../img/gallery/person-walking-mobile.jpg 1x, ../img/gallery/person-walking-mobile@2x.jpg 2x">
            
              <img class="gallery-item-view item-3" src="../img/gallery/person-walking-mobile.jpg" alt="person-walking" width="288" height="288">
            </picture>
          </li>
          <li class="gallery-item item-4">
            <picture>
              <source media="(min-width 1158px)"
                srcset="../img/gallery/young-woman-desktop.jpg 1x, ../img/gallery/young-woman-desktop@2x.jpg 2x">
              <source media="(min-width 768px)"
                srcset="../img/gallery/young-woman-desktop.jpg 1x, ../img/gallery/young-woman-desktop@2x.jpg 2x">
              <source media="(max-width 767px)"
                srcset="../img/gallery/young-woman-mobile.jpg 1x, ../img/gallery/young-woman-mobile@2x.jpg 2x">
            
              <img class="gallery-item-view item-4" src="../img/gallery/young-woman-mobile.jpg" alt="young-woman" width="288" height="288">
            </picture>
          </li>
        </ul>   
  </div>
</section>
