ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
.section-gallery {
    background: #ebf8ed;
    padding-top: 32px;
    /* max-width: 320px;
    height: 1427px; */
}
.container-gallery {
    text-transform: capitalize;
    text-align: center;
    background-color: #ebf8ed;
}
.gallery-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #030a06;
    font-family: "Comfortaa", sans-serif;
    padding-bottom: 16px;
    max-width: 288px;
}
.gallery-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #030a06;
    font-family: "Fira Sans", sans-serif;
    padding-bottom: 32px;
    max-width: 288px;
}
.gallery-list {
    max-width: 288px;
    /* height: 1200px; */
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-self: center;
    justify-content: center;
    padding-bottom: 32px;
}
.gallery-item {
    display: flex;
    flex-direction: column;
    padding-block: 0px 32px;
    padding-inline: 0px;
    width: 100%;
    height: 288px;
}
.gallery-item-view {
    border-radius: 32px;
}
/* @media screen and (min-width: 768px) {
    .gallery-title {
        padding-top: 64px;
        padding-bottom: 24px;
    }
    .gallery-description {
        flex-wrap: nowrap;
    }
    .gallery-list {
        max-width: 704px;
        height: 1062px;
        display: flex;
        flex-wrap: wrap-reverse;
        flex-direction: column;
        gap: 24px;
        align-self: center;
        justify-content: center;
        padding-bottom: 64px;
        padding-top: 32px;
        padding-left: 32px;
        padding-right: 32px;
    }
    .gallery-item-view {
        width: 340px;
        height: 700px;
    }
    .gallery-item-view:first-child {
        order: 4;
        height: 340px;}
    .gallery-item-view:last-child {
        order: 1;
        height: 340px;}
} */