ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
.section-gallery {
    background: #ebf8ed;
    padding-top: 32px;
    max-width: 320px;
    height: 1427px;
}
.container-gallery {
    padding-left: 16px;
    padding-right: 16px;
    text-transform: capitalize;
    text-align: center;
    background-color: #ebf8ed;
}
.gallery-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #030a06;
    font-family: "Comfortaa", sans-serif;
    text-align: center;
    padding-bottom: 16px;
}

.gallery-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #030a06;
    padding-bottom: 32px;
}
.gallery-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-self: center;
    justify-content: center;
    padding-bottom: 32px;
}
.gallery-item {
    display: flex;
    flex-direction: column;
}
.gallery-item-view {
    display: block;
    border-radius: 32px;
    width: 100%;
    height: 288px;
}
@media screen and (min-width: 768px) {
    .gallery-title {
        padding-top: 64px;
        padding-bottom: 24px;
    }

    .gallery-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 24px;
        align-self: center;
        justify-content: center;
        padding-bottom: 64px;
    }
    .gallery-item {
        width: 100%;
        padding: 24px;
    }

}