/* ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
} */
.section-gallery {
    padding-top: 32px;
    /* max-width: 320px;
    height: 1427px; */
}
.container-gallery {
    text-transform: capitalize;
    text-align: center;
}
.gallery-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #030a06;
    font-family: "Comfortaa", sans-serif;
    margin-bottom: 16px;
    max-width: 288px;
}
.gallery-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #030a06;
    margin-bottom: 32px;
    max-width: 288px;
}
.gallery-list {
    max-width: 288px;
    /* height: 1200px; */
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-self: center;
    justify-content: center;
    margin-bottom: 32px;
}
.gallery-item {
    display: flex;
    flex-direction: column;
    /* padding-block: 0px 32px;
    padding-inline: 0px; */
    /* width: 100%; */
    /* height: 288px; */
}
.gallery-item-view {
    border-radius: 32px;
}
@media screen and (min-width: 768px) {
    .section-gallery {
        margin-top: 64px;
    }
    .gallery-title {
        max-width: 704px;
        margin-bottom: 24px;
    }
    .gallery-description {
        max-width: 704px;
        flex-wrap: nowrap;
    }
    .gallery-list {
        max-width: 704px;
        flex-wrap: wrap;
        flex-direction: row;
        row-gap: 24px;
        column-gap: 24px;
        margin-bottom: 64px;
    }
    .gallery-item-view {
        display: block;
        max-width: 100%;
        height: auto;
    }
    .gallery-item.item-1 {
        order: 4;
    }
    .gallery-item-view.item-1 {
        height: 340px;
    }
    .gallery-item-view.item-2 {
        /* order: 2; */
        height: 700px;
    }
    .gallery-item-view.item-3 {
        /* order: 3; */
        height: 700px;
    }
    .gallery-item.item-4 {
        order: 1;
        /* height: 340px; */
    }
}